#main-content {
    padding-bottom: 2em;
}

@media (min-width: 768px) {
    .navbar-form {
        /* force col-lg-5 width because it doesn't work automatically ;_; */
        width: 41.667% !important;
    }
}

#login {
    margin-right: 8px;
}

#demo {
    border: 3px solid gray;
    border-radius: 3px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 600px;
}

@media (max-height: 440px) {
    #demo {
        height: 350px;
    }
}

@media (max-height: 750px) and (min-height: 441px) {
    #demo {
        height: 80%;
    }
}
