@font-face {
    font-family: Xolonium;
    src: url('Xolonium.woff'), url('Xolonium.otf'), url('Xolonium.ttf');
}

body {
    font-family: Xolonium, sans-serif;
    color: #EEE;
    text-shadow: 0 0 0.1em #333;
    margin: 0;
    padding: 0;
    background: fixed #000 url('sunrise.jpg') no-repeat center top;
}

h1 {
    text-align: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #DDD;
    border-bottom: 1px dashed;
}

a:visited {
    color: #AAA;
}

#header {
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,0.5)));
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,0.5) 100%);
    width: 100%;
    text-align: center;
    padding: 1em;
}

.floatinghead {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.invisible {
    display: none;
}

#searchbox {
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
    padding: 0;
}

#searchbox #q, #searchbox #go {
    border: 1px solid #666;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2em;
    font-size: 0.8em;
    font-family: Xolonium, sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#searchbox #q {
    border-radius: 0 0.3em 0.3em 0;
    width: 90%;
    padding-left: 0.5em;
}

#searchbox #go {
    border-radius: 0.3em 0 0 0.3em;
    margin-right: -1em;
    padding: 0 0.3em 0 0.3em;
}

#maps {
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 5px;
}

#maps tr {
    height: 10em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#maps th {
    width: 10em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2d2d;
    background-image: url('unknown.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#maps td {
    padding: 0.5em;
    background-color: rgba(0,105,255,0.4);
    margin: 0;
}

#maps td .mapname {
    font-size: 1.1em;
}

#maps td .author {
    float: right;
}

#maps td .description {
    display: block;
    clear: both;
    color: #DDD;
    font-size: 0.8em;
    margin: 1em;
}

#maps tr:hover td {
    background-color: rgba(0,105,255,0.6);
}

#maps .gametypes {
    margin: 2em 1em 1em 1em;
}

#maps .gametypes .button {
    padding: 0.1em;
    border-radius: 0.2em;
    border: 1px solid #666;
    background-color: #888;
    margin: 0.2em;
    line-height: 1.5em;
    display: inline-block;
}

#maps .gametypes .button:hover {
    background-color: #666;
}

.grey {
    color: #AAA;
}

.rot {
    font-size: 0.6em;
    background: orange;
    float: left;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    padding: 0.2em 5em 0.2em 5em;
    width: 10em;
    max-height: 4.6em;
    left: -5em;
    top: -3.5em;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
}

#downloadbox {
    position: fixed;
    text-align: center;
    margin: 0;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid #333;
    background: #444;
    z-index: 9999;
    top: 20%;
    left: 50%;
    margin-left: -10em;
    width: 20em;
    overflow: hidden;
}

#downloadbox h2 {
    word-wrap: break-word;
}

#downloadbox .button {
    border-radius: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    border: 1px solid #333;
    background: #555;
}

#shadow {
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
}

#downloadbox .button:hover {
    background: #777;
}

#footer {
    text-align: center;
    padding: 1em;
    width: 90%;
    border-radius: 0.4em;
    background: #666;
    border: 1px solid #333;
    position: relative;
    left: 50%;
    margin: 1em 0 1em -45%;
}
