<title>${bf.config.blog.name}</title>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="${bf.util.site_path_helper(bf.config.blog.path,'/feed')}" />
<link rel="alternate" type="application/atom+xml" title="Atom 1.0"
href="${bf.util.site_path_helper(bf.config.blog.path,'/feed/atom')}" />
<link rel="stylesheet" type="text/css" href="${bf.util.site_path_helper('/all.css')}" />
<link rel='stylesheet' href="${bf.util.site_path_helper('/pygments_murphy.css')}" type='text/css' />
