<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}FIX ME{% end %} | Wikiapplet</title>
        <link rel="stylesheet"
            href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('style.css') }}">
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                {# This is lifted pretty much verbatim from the Bootstrap docs. Note
                that data-target specifies the ID of the element to be collapsed. #}
                <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#wa-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"
                    href="#">Wikiapplet</a>
            </div>

            <div class="collapse navbar-collapse" id="wa-navbar-collapse-1">
                <form class="col-lg-4 navbar-form navbar-left" action="/search"
                    method="get" id="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q"
                        placeholder="Try 'algorithms' or 'solar system'">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                Search
                            </button>
                        </div>
                    </div>
                    {# TODO: use glyphicons #}
                </form>

                <a href="/login" class="navbar-right btn btn-primary navbar-btn"
                    id="login">
                    Log in
                </a>
            </div>
        </div>

        <div class="container" id="main-content">
            {% block body %}<p>OH GOD IT BURNS</p>{% end %}
        </div>

        {# scripts #}
        <script src="{{ static_url('jquery/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
