<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Xonotic Map Repository</title>
        <link rel="stylesheet" href="xonmap.css" />
    </head>
    <body>
        <div id="shadow" class="invisible"></div>
        <div id="header">
            <h1>Xonotic Map Repository</h1>
            <div id="searchbox" class="invisible">
                <form action="#" method="get" id="qf">
                    <input type="submit" id="go" value="search" />
                    <input type="text" id="q" placeholder='try "solarium" or "ctf"' />
                </form>
            </div>
        </div>
        <div id="downloadbox" class="invisible">
            <h2>map_name.pk3</h2>
            <a href="#" class="button magnet">magnet</a>
            <a href="#" class="button direct">direct download</a>
        </div>
        <div id="maplist">
            <table id="maps">
                {% for mapkey in mapdb %}
                    <tr>
                        <th {% if mapdb[mapkey]['has_thumb'][0] %}
                                style="background-image: url({{ conf['thumb_path'] + mapdb[mapkey]['pk3name'][0] + '.jpg' }});"
                            {% end %}
                            >
                            <a href="{{ conf['map_download_root'] + mapdb[mapkey]['pk3name'][0] }}" title="Download this map">
                                <span class="rot">{{ mapdb[mapkey]['pk3name'][0] }}</span>
                            </a>
                        </th>
                        <td>
                            <span class="mapname">
                                {% if mapdb[mapkey]['title'] %}
                                    {{ mapdb[mapkey]['title'][0] }}
                                {% else %}
                                    <span class="grey">
                                        {{ mapdb[mapkey]['pk3name'][0] }}
                                    </span>
                                {% end %}
                            </span>
                            <span class="author">
                                {% if mapdb[mapkey]['author'] %}
                                    {{ mapdb[mapkey]['author'][0] }}
                                {% else %}
                                    <span class="grey">
                                        Unknown
                                    </span>
                                {% end %}
                            </span>
                            {% if mapdb[mapkey]['description'] %}
                                <span class="description">
                                    {{ mapdb[mapkey]['description'][0] }}
                                </span>
                            {% end %}
                            <span class="gametypes">
                            {% if mapdb[mapkey]['gametype'] %}
                                {% for gametype in mapdb[mapkey]['gametype'] %}
                                    <a href="#" title="Toggle class filter" class="button {{ gametype }}">
                                        {{ gametype }}
                                    </a>
                                {% end %}
                            {% end %}
                            </span>
                        </td>
                    </tr>
                {% end %}
            </table>
        </div>
        <div id="footer">
            <span>Built for the <a href="http://xonotic.org/">Xonotic Community</a></span>
        </div>
        <!-- put scripts down the bottom because they're HUGE and we want them -->
        <!-- to load FAST -->
        <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="mapdb.json"></script>
        <!-- <script type="text/javascript" src="invindex.json"></script> -->
        <script type="text/javascript" src="ftsindex.json"></script>
        <script type="text/javascript" src="config.json"></script>
        <script type="text/javascript" src="xonmap.js"></script>
    </body>
</html>
