* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

input[type=text] {
    width: 4em;
    margin-right: 1em;
    border: 3px solid gray;
    border-radius: 3px;
}

label[for=kp], label[for=ki], label[for=kd] {
    font-style: italic;
    font-family: Georgia, serif;
}

#buttons {
    float: right;
}

#go {
    width: 100%
}

#controls {
    overflow: hidden;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 3.6em;
}

.lower {
    margin-top: 0.3em;
}

#filler {
    top: 4.5em;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}
