/* CSS for qxcv.net */

body {
    font-family: Helvetica, "Bitstream Vera Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    padding-top: 1.6em;
}

h1, h2, h3 {
    font-family: "Droid Sans", Verdana, sans-serif;
}

a {
    color: inherit;
    underline: None;
}

a:hover {
    color: #FFA500;
}

a:active {
    outline: none;
}

#centralwrapper {
    min-width: 400px;
    /* Give extra 10% whitespace so that the user can *BREATHE* */
    margin-left: 10%;
    margin-right: 10%;
}

/***********************
 * Begin navbar styles *
 **********************/

#navbar {
    padding: 0.1em 0 0.3em 0;
    position: fixed;
    z-index: 2;
    top: 0;
    white-space: nowrap;
}

#navbar .navitem {
    margin-right: 0.5em;
}

#navbar a {
    text-decoration: none;
    color: #FFA500;
}

#navbar a:hover {
    border-bottom: 1px dashed;
}

body:before {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.6em;
    background: #333;
    position: fixed;
    z-index: 1;
    top: 0;
    content: "";
}

/***************************
 * Begin messagebar styles *
 **************************/

.usermessage {
    border: 1px solid #555;
    padding: 0.2em;
    color: #333;
    margin-top: 3px;
    font-size: 0.9em;
}

.warning {
    background: #F88;
    border-color: #F00;
}

.warning:before {
    content: "Warning: ";
    font-weight: bold;
}

/****************************
 * Begin post markup styles *
 ***************************/

.prose {
    color: #222;
    margin: 1em 0;
}

.prose h1, h2, h3 {
    width: 100%;
}

.prose h1 {
    border-bottom: 4px solid #222;
    font-size: 1.5em;
}

.prose h2 {
    border-bottom: 3px solid #444;
    font-size: 1.35em;
}

.prose h3 {
    border-bottom: 2px solid #666;
    font-size: 1.2em;
}

.code {
    white-space: pre-wrap;
}

/*****************************
 * Begin meta section styles *
 ****************************/

.meta .pubdate {
    color: #333;
    font-style: italic;
}

.meta a {
    color: inherit;
    text-decoration: none;
}

.meta h1 {
    margin: 0.1em 0;
    font-size: 2.2em;
    text-shadow: #000 0px 0px 2px;
}


.tags {
    margin: 0.5em 0;
}

.tags a {
    text-decoration: none;
}

.tag {
   margin: 0.2em;
   padding: 0.1em;
   border: 1px solid #333;
   box-shadow: 0.2em 0.2em 0.1em #666;
   border-radius: 0.2em;
}

.tag:hover {
    background: #EEE;
}

/******************************
 * Begin footer markup styles *
 *****************************/

#footer {
    margin: 4em 0;
    font-size: 0.6em;
    color: #666;
    text-align: center;
}

#footer span {
    padding-right: 1em;
}

#footer span:before {
    content: "|";
}

#footer span:hover {
    background: #EEE;
}
